<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
	name='viewport' />
<title>Frage erstellen</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous" />

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
	integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
	crossorigin="anonymous" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
	integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
	crossorigin="anonymous"></script>
<!-- Website Font style -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Passion+One'
	rel='stylesheet' type='text/css' />
<link href='https://fonts.googleapis.com/css?family=Oxygen'
	rel='stylesheet' type='text/css' />
	
</head>
<body>

	<th:block th:include="fragments/navbar::nav-In" />
	<div class="container">
		<div class="row main">
		<form class="form-horizontal" th:object="${Answer}"
					th:action="@{/question/create(name=${name})}" method="post" autocomplete="on"> 
			<div class="panel-heading">
				<div class="panel-title text-center">
					<h1 class="title">Frage erstellen</h1>
					<hr />
				</div>
			</div>
  
			<div class="form-group">
				<label for="Question">Question:</label> <input type="text"  th:value="${question}"
					class="form-control" name="question" id="question"/>
			</div>

			<div class="main-login main-center">
				
					<div th:if="${param.error}" class="alert alert-error">
						Invalid data.</div>
						
					<table id="inputtable">
						<tr th:each="a,iterationStatus  : ${amount}">
							<td id="content">
								<div class="checkbox">
											<input type="checkbox" th:checked="${answer.answer__${iterationStatus.index}__}== on or ${amount.length}==1 " th:disabled=" ${amount.length}==1 "
												th:id="${'answer'+__${iterationStatus.index}__} "
												th:name="${'answer'+__${iterationStatus.index}__} "></input>
								</div>
								<div class="form-group">
									<label for="password" class="cols-sm-2 control-label">Antwort</label>
									<div class="cols-sm-10">
										<div class="input-group">
											<span class="input-group-addon"><i 
												class="fa  fa-question-circle-o  fa-lg" aria-hidden="true"></i></span>
											<input th:with="text=${answer.answertext__${iterationStatus.index}__}"
												type="text" class="form-control" th:value="${text}"
												th:name="${'answertext'+__${iterationStatus.index}__}" 
												th:id="__${iterationStatus.index}__ " 
												 />
										</div>
										
									</div>
								</div>
							</td>
						</tr>
						
					</table>	
					<div class="form-group ">
						<button type="submit" th:name="info" th:value="create"
							class="btn btn-primary btn-lg btn-block login-button">Erstelle
							Frage</button>
							<button type="submit" th:name="info" th:value="${'sub-'+amountcount}"  id="sub" class="btn btn-primary btn-lg btn-block login-button">-</button>
							<button type="submit" th:name="info"  th:value="${'add-'+amountcount}" id="add" class="btn btn-primary btn-lg btn-block login-button">+</button>
					</div>
				
			</div>
			</form>
		</div>
	</div>

</body>
</html>