<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nav</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>

    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <!-- CSS Files -->

    <link th:href="@{css/material-kit.css}" rel="stylesheet"/>
</head>
<body>

<th:block th:fragment="nav-In">

    <nav class="navbar navbar-transparent" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/index}"><i class="fa fa-connectdevelop"></i>Synapse</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/home}">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lerngruppen<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/learninggroup/mygroups}">Meine Lerngruppen</a></li>
                            <li class="divider"></li>
                            <li><a th:href="@{/learninggroup/create}">Lerngruppe erstellen</a></li>
                            <li><a th:href="@{/learninggroup/join}">Lerngruppe beitreten</a></li>
                        </ul>
                    </li>
                    <li class="navbar-left">
                    <li><a th:href="@{/search}"><i class="material-icons">search</i></a></li>
                    </li>


                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/message/inbox}"><i class="material-icons">mail_outline</i></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Benutzer<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/profil/me}">Profil</a></li>
                            <li class="divider"></li>
                            <li><a th:href="@{/friends}">Freunde</a></li>
                            <li class="divider"></li>
                            <li><a th:href="@{/profil/edit}">Einstellungen</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/logout}"><i class="material-icons">power_settings_new</i>Abmelden</a></li>
                </ul>
            </div>
        </div>
    </nav>

</th:block>

<th:block th:fragment="nav-notIn">

    <nav class="navbar navbar-transparent" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/home}"><i class="fa fa-connectdevelop"></i>Synapse</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/home}">Startseite</a></li>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Suche"/>
                            <style>
                                button {
                                    background-color: Transparent;
                                    background-repeat:no-repeat;
                                    border: none;
                                    cursor:pointer;
                                    overflow: hidden;
                                    outline:none;
                                }
                            </style>
                            <button class="button">
                                <i class="material-icons">search</i>
                            </button>
                        </div>
                    </form>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/register}"><i class="material-icons">perm_identity</i>Registrieren</a></li>
                    <li><a th:href="@{/login}"><i class="material-icons">power_settings_new</i>Anmelden</a></li>
                </ul>
            </div>
        </div>
    </nav>

</th:block>

<th:block th:fragment="nav-index">

    <nav class="navbar navbar-transparent" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/index}"><i class="fa fa-connectdevelop"></i>Synapse</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul th:if="${loggedin}" class="nav navbar-nav">
                    <li><a th:href="@{/home}">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${loggedin==false || loggedin==null}"><a th:href="@{/register}"><i
                            class="material-icons">perm_identity</i>Registrieren</a></li>
                    <li th:if="${loggedin==false || loggedin==null}"><a th:href="@{/login}"><i class="material-icons">power_settings_new</i>Anmelden</a>
                    </li>
                    <li th:if="${loggedin}"><a th:href="@{/logout}"><i class="material-icons">power_settings_new</i>Abmelden</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</th:block>

<th:block th:fragment="nav-In-Input">

    <nav class="navbar navbar-transparent" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/home}"><i class="fa fa-connectdevelop"></i>Synapse</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/home}">Startseite</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lerngruppen<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/learninggroup/mygroups}">Meine Lerngruppen</a></li>
                            <li class="divider"></li>
                            <li><a th:href="@{/learninggroup/create}">Lerngruppe erstellen</a></li>
                            <li><a th:href="@{/learninggroup/join}">Lerngruppe beitreten</a></li>
                        </ul>
                    </li>

                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-search" placeholder="Suche"/>
                            <style>
                                button {
                                    background-color: Transparent;
                                    background-repeat:no-repeat;
                                    border: none;
                                    cursor:pointer;
                                    overflow: hidden;
                                    outline:none;
                                }
                            </style>
                            <button class="button">
                                <i class="material-icons">search</i>
                            </button>
                        </div>
                    </form>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/message/inbox}"><i class="material-icons">mail_outline</i></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Benutzer<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/profil/me}">Profil</a></li>
                            <li class="divider"></li>
                            <li><a th:href="@{/friends}">Freunde</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/logout}"><i class="material-icons">power_settings_new</i>Abmelden</a></li>
                </ul>
            </div>
        </div>
    </nav>

</th:block>

</body>

<!--   Core JS Files   -->
<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/material.min.js}" type="text/javascript"></script>

<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script th:src="@{/js/nouislider.min.js}" type="text/javascript"></script>

<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
<script th:src="@{/js/bootstrap-datepicker.js}" type="text/javascript"></script>

<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
<script th:src="@{/js/material-kit.js}" type="text/javascript"></script>

</html>