.bgr{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: initial;
}

.bgr.network1 {
    background-image: url("../img/network1.jpg");
}

.bgr.message1 {
    background-image: url("../img/message1.jpg");
}

.bgr.city {
    background-image: url("../img/city.jpg")
}