<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Freunde</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>

    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{/static/css/font-awesome.min.css}"/>

    <!-- CSS Files -->
    <link th:href="@{css/jumbo.css}" rel="stylesheet"/>
    <link th:href="@{css/backgrounds.css}" rel="stylesheet"/>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{css/material-kit.css}" rel="stylesheet"/>

</head>


<body class="bgr network1">

<th:block th:include="fragments/navbar::nav-In"/>
<div class="container">
    <div class="jumbotron neo">


        <form name="form-login" th:action="@{/friends/search}" method="post">
            <label for="search">Suchen:</label>
            <input type="text" maxlength="255" name="search" id="search"/>
            <button class="btn btn-default btn-xs" type="submit" aria-hidden="true" title="Suche">
                <i class="material-icons">search</i>
            </button>
        </form>
        <table class="table">

            <thead>
            <tr th:each="c,iterationStatus  : ${search}">
                <th>Name</th>
                <th>Username</th>
                <th>E-Mail</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c,iterationStatus  : ${search}">
                <td class="content" th:utext="${c.getName()}"/>
                <td class="content" th:utext="${c.getUsername()}"/>
                <td class="content" th:utext="${c.getEmail()}"/>
                <td>
                    <form name="form-login" th:action="@{/friends}" method="post">
                        <button class="btn btn-default btn-xs" type="submit" th:name="info"
                                th:value="${c.getEmail() + '-add'}"
                                aria-hidden="true" title="Hinzufügen">
                            <i class="material-icons">add</i>
                        </button>
                        <div th:if="${param.error}" class="alert alert-error">
                            <span style="color:#ff1d09">Freundesanfrage bereits versendet</span>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <h5>Freundeanfragen:</h5>
        <table class="table">

            <thead>
            <tr th:if="${current.getFriendRequestsList().size() > 0}">
                <th>Name</th>
                <th>Username</th>
                <th>E-Mail</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c,iterationStatus  : ${current.getFriendRequestsList()}">
                <td class="content" th:utext="${c.getName()}"/>
                <td class="content" th:utext="${c.getUsername()}"/>
                <td class="content" th:utext="${c.getEmail()}"/>
                <td>
                    <form name="form-login" th:action="@{/friends}" method="post">
                        <button class="btn btn-default btn-xs" type="submit" th:name="info"
                                th:value="${c.getEmail() + '-confirm'}"
                                aria-hidden="true" title="Hinzufügen">
                            <i class="material-icons">add</i>
                        </button>
                    </form>
                </td>
                <td>
                    <form name="form-login" th:action="@{/friends}" method="post">
                        <button class="btn btn-default btn-xs" type="submit" th:name="info"
                                th:value="${c.getEmail() + '-deny'}"
                                aria-hidden="true" title="Löschen">
                            <i class="material-icons">delete</i>
                        </button>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>

        <h5>Freunde:</h5>
        <table class="table">

            <thead>
            <tr th:if="${current.getFriendsListALL().size() > 0}">
                <th>Name</th>
                <th>Username</th>
                <th>E-Mail</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c,iterationStatus  : ${current.getFriendsListALL()}">
                <td class="content" th:utext="${c.getName()}"/>
                <td class="content" th:utext="${c.getUsername()}"/>
                <td class="content" th:utext="${c.getEmail()}"/>
                <td>
                    <form name="form-login" th:action="@{/friends}" method="post">
                        <button class="btn btn-default btn-xs" type="submit" th:name="info"
                                th:value="${c.getEmail() + '-remove'}"
                                aria-hidden="true" title="Entfernen">
                            <i class="material-icons">delete</i>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>

<!--   Core JS Files   -->
<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/material.min.js}" type="text/javascript"></script>

<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script th:src="@{/js/nouislider.min.js}" type="text/javascript"></script>

<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
<script th:src="@{/js/bootstrap-datepicker.js}" type="text/javascript"></script>

<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
<script th:src="@{/js/material-kit.js}" type="text/javascript"></script>
<script>
	//<![CDATA[
	function OnPick(){
		var value = document.getElementById("lgs").value;
		$("#selectedlgs").append('<option onclick="OnDePick()" value="'+value+'">'+value+'</option>');
		$('#lgs').find('[value='+value+']').remove();
		'Selected: ' +value;
		activatedButton();
	}
	function OnDePick(){
		var value = document.getElementById("selectedlgs").value;
		$("#lgs").append('<option onclick="OnPick()" value="'+value+'">'+value+'</option>');
		$('#selectedlgs').find('[value='+value+']').remove();
		document.getElementById('d').innerHTML= 'Deselected: ' +value;
		activatedButton();
	}
	function OnNumber(){
		activatedButton();
	}

	function activatedButton(){
		var arr = [];
		$("#selectedlgs > option").each(function(){
			arr.push(this.value);
		});
		if(arr.length==0){
			document.getElementById("button").disabled=true;
		}else {
			document.getElementById("button").disabled=false;
			document.getElementById("button").value = arr.toString();
		}
	}


	//]]>

</script>

</html>