<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>

	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Startseite</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico"/>

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'/>

	<!--     Fonts and icons     -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
	<link rel="stylesheet" th:href="@{/static/css/font-awesome.min.css}" href="../static/css/font-awesome.min.css"/>
	<!-- CSS Files -->
	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	<link href="../static/css/material-kit.css" th:href="@{/css/material-kit.css}" rel="stylesheet"/>

	<!-- Animate.css -->
	<link rel="stylesheet" th:href="@{/css/animate.css}" href="../static/css/animate.css"/>

	<!-- Bootstrap  -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css"/>
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" th:href="@{/css/icomoon.css}" href="../static/css/icomoon.css"/>
	<!-- Theme style  -->
	<link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css"/>

	<!-- Modernizr JS -->
	<script th:src="@{/css/modernizr-2.6.2.min.js}" src="../static/js/modernizr-2.6.2.min.js"></script>



	</head>


	<body>
	<div id="fh5co-wrap">

		<div class="fh5co-hero" style="background-image: url(https://s32.postimg.org/g4h8hkelx/neuro1.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<th:block th:include="fragments/navbar::nav-index"/>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
						<div class="fh5co-intro fh5co-table-cell">
							<h1 class="text-center">
								<p><i class="fa fa-connectdevelop"></i>Synapse</p>
							</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<h2>Was ist <i class="fa fa-connectdevelop"></i>Synapse?
						</h2>
						<p>
							HIER KÖNNTE IHRE WERBUNG STEHEN! (Oder so...)
						</p>
					</div>
					<div class="col-md-7">
						<img src="https://s32.postimg.org/g4h8hkelx/neuro1.jpg" alt="" class="img-responsive"/>
					</div>
				</div>
			</div>
		</div>

		<div class="fh5co-parallax" style="background-image: url(https://s31.postimg.org/lvskkamcb/neuro2.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
						<div class="fh5co-intro fh5co-table-cell">
							<h1 class="text-center">Wow!</h1>
							<p>such space!    much wow!</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="fh5co-section">
			<div class="container">
				
				<div class="row">
					<h2 class="text-center">Warum <i class="fa fa-connectdevelop"></i>Synapse? </h2>
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="icon-strategy"></i>
							</div>
							<div class="fh5co-text">
								<h2>Strategy</h2>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="icon-telescope"></i>
							</div>
							<div class="fh5co-text">
								<h2>Explore</h2>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="icon-circle-compass"></i>
							</div>
							<div class="fh5co-text">
								<h2>Direction</h2>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="icon-tools"></i>
							</div>
							<div class="fh5co-text">
								<h2>Expertise</h2>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>


		<div class="fh5co-parallax" style="background-image: url(https://s31.postimg.org/fbkotf7jf/network2.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
						<div class="fh5co-intro fh5co-table-cell">
							<h1 class="text-center">Registriere Dich jetzt! </h1>
							<p>und werde Teil einer großen Community</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="fh5co-section">
			<div class="container">

				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-6">
								<h2>Über uns</h2>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<p>Bilder mit Beschreibung</p>
					</div>
					<div class="col-md-6">
						<p>...und hier</p>
					</div>
				</div>

			</div>
		</div>

	</div> <!-- END fh5co-wrap -->


	<footer id="fh5co-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h3>Hier könnte Ihre Werbung stehen!</h3>
					<p></p>
				</div>
				<div class="col-md-3 col-md-push-1">
					<h3>...oder hier!</h3>
				</div>
				<div class="col-md-3 col-md-push-1">
					<h3>Folgt uns auf</h3>
					<ul class="fh5co-social">
						<li><a href="#"><i class="icon-twitter"></i> <span>Twitter</span></a></li>
						<li><a href="#"><i class="icon-facebook"></i> <span>Facebook</span></a></li>
						<li><a href="#"><i class="icon-instagram"></i> <span>Instagram</span></a></li>
						<li><a href="#"><i class="icon-google"></i> <span>Google Plus</span></a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 fh5co-copyright text-center">
					<p><small>&copy; 2016 SoPranos. Alle Rechte vorbehalteb. </small>
					</p>
				</div>
			</div>
		</div>
	</footer>
	
	<!-- jQuery -->
	<script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script th:src="@{/js/jquery.easing.1.3.js}" src="../static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script th:src="@{/js/jquery.waypoints.min.js}" src="../static/js/jquery.waypoints.min.js"></script>
	<!-- Stellar -->
	<script th:src="@{/js/jquery.stellar.min.js}" src="../static/js/jquery.stellar.min.js"></script>
	<!-- MAIN JS -->
	<script th:src="@{/js/main.js}" src="../static/js/main.js"></script>

	</body>

</html>