<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

	<title>Lerngruppe - Home</title>

	<meta name="description" content="Lerngruppe - Home." />
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
	<link rel="stylesheet" th:href="@{../css/font-awesome.min.css}" />
	<link rel="stylesheet" th:href="@{../css/icomoon.css}" />

	<!-- CSS Files -->
	<link th:href="@{../css/jumbo.css}" rel="stylesheet" />
	<link th:href="@{../css/backgrounds.css}" rel="stylesheet" />
	<link th:href="@{../css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{../css/material-kit.css}" rel="stylesheet"/>

	<!--   Core JS Files   -->
	<script th:src="@{../js/jquery.min.js}" type="text/javascript"></script>
	<script th:src="@{../js/bootstrap.min.js}" type="text/javascript"></script>
	<script th:src="@{../js/material.min.js}" type="text/javascript"></script>
	<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script th:src="@{../js/nouislider.min.js}" type="text/javascript"></script>
	<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
	<script th:src="@{../js/bootstrap-datepicker.js}" type="text/javascript"></script>
	<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
	<script  th:src="@{../js/material-kit.js}" type="text/javascript"></script>


	<style>
	/* Override star colors */
	.raterater-bg-layer {
	    color: rgba( 0, 0, 0, 0.25 );
	}
	.raterater-hover-layer {
	    color: rgba( 255, 255, 0, 0.75 );
	}
	.raterater-hover-layer.rated {
	    color: rgba( 255, 255, 0, 1 );
	}
	.raterater-rating-layer {
	    color: rgba( 255, 155, 0, 0.75 );
	}
	.raterater-outline-layer {
	    color: rgba( 0, 0, 0, 0.25 );
	}
	</style>
</head>


<body class="bgr network1">
<th:block th:include="fragments/navbar::nav-In"/>
<div class="container">
	<div class="jumbotron neo">
		<b><h2 class="ue" th:utext="${name}"></h2></b>
		<p class="text-divider"></p>


<a type="submit" class="btn btn-default btn-raised" th:href="@{/learninggroup/post(name=${name})}">Beitrag erstellen</a>
<a type="submit" class="btn btn-default btn-raised" th:href="@{/learninggroup/users(name=${name})}">Benutzerübersicht</a>
<a type="submit" class="btn btn-default btn-raised" th:href="@{/question/create(name=${name})}">Frage erstellen</a>
<a type="submit" class="btn btn-default btn-raised" th:href="@{/learninggroup/questionlist(name=${name})}">Fragenübersicht</a>
<a type="submit" class="btn btn-default btn-raised" th:href="@{/quiz(name=${name})}">Quiz erstellen</a>
			<a type="submit" th:if="${isHost}" class="btn btn-default btn-raised fa fa-gear" th:href="@{/learninggroup/option(name=${name})}"></a>

		</div>
		<div class="jumbotron neo">
		<div class="table-responsive">
<table class="table">
	<thead>
	<tr>
		<th>Überschrift</th>
		<th>Beitrag</th>
		<th>Von</th>
		<th>Datum</th>
	</tr>
	</thead>
	<tr th:each="text,iterationStatus  : ${posts}">
		<td  class="content" th:utext="${text.getHeading()}"/>
		<td  class="content" th:utext="${text.getText()}"/>
		<td  class="content" th:utext="${text.getSopraUser().getEmail()}"/>
		<td  class="content" th:utext="${text.getCreateDate()}"/>
		<td  class="content" >
			<form name="form-login" th:action="@{/learninggroup/home?name=} + ${name}" method="post">
				<button class="btn btn-default" type="submit" th:name="info" th:value="${text.getId() +'-comment'}" aria-hidden="true">Kommentieren</button>
			</form>
		</td>
		<td  class="content" th:if="${text.getSopraUser()}==${loginUser} or ${isHost}">
			<form name="form-login" th:action="@{/learninggroup/home?name=} + ${name}" method="post">
				<button class="btn btn-default" type="submit" th:name="info" th:value="${text.getId() +'-edit'}" aria-hidden="true">Bearbeiten</button>
			</form>
		</td>
		<td  class="content" th:if="${text.getSopraUser()}==${loginUser} or ${isHost}">
			<form name="form-login" th:action="@{/learninggroup/home?name=} + ${name}" method="post">
				<button class="btn btn-default" type="submit" th:name="info" th:value="${text.getId() +'-delete'}" aria-hidden="true">Löschen</button>
			</form>
		</td>
		<td>
        	<form name="form-login" th:action="@{/learninggroup/home?name=} + ${name}" method="post">
					<div class="ratebox" th:attr="data-id=${text.getId()},data-rating=${text.getRating()}" ></div>
					<button th:id="${'rating'+text.getId()}" th:name="info" class="btn btn-default" style="display:none" type="submit" aria-hidden="true" >Submit</button>
			 </form>	
		</td>
	</tr>
</table>
			</div>

<script>

/* This is out callback function for when a rating is submitted
 */
function rateAlert(id, rating)
{
	document.getElementById("rating"+id).style = "";
	document.getElementById("rating"+id).value = id+"-rating-"+rating;
}

	/* Here we initialize raterater on our rating boxes
	 */
	$(function() {
		$('.ratebox').raterater({
			submitFunction : 'rateAlert',
			allowChange : true,
			starWidth : 20,
			spaceWidth : 5,
			numStars : 5
		});
	});
</script>
		</div>
	</div>
</body>

</html>