<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <title>Home</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="@{/css/register.css"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>
</head>
<body>
<th:block th:include="fragments/navbar::nav-In"/>

<h1>Gruppen-Liste</h1>

<table>
    <tr>
        <th>NAME </th>
        <th>BESCHREIBUNG </th>
        <th>PASSWORT GESCHÜTZT </th>
        <th>MITGLIEDERANZAHL </th>
    </tr>
    <!--   <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Erstelle Gruppe</button> -->
    <tr th:each="group,iterationStatus  : ${groups}">
        <td><a type="submit" class="btn btn-default" th:href="@{/learninggroup/home(name=${group.getName()})}">Join</a></td>
        <td th:text="${group.getName()}">NAME</td>
        <td th:text="${group.getDescription()}">BESCHREIBUNG</td>
        <td th:if="${group.getFreeForAll()}"><i class="fa fa-square-o" aria-hidden="true"></i></td>
        <td th:if="${!group.getFreeForAll()}"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
        <td th:text="${group.getUserCount()}"></td>
    </tr>
</table>
</body>
</html>